<div class="container margem">
    <h1 class="text-center">Novo fornecedor</h1>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="nome" [(ngModel)]="fornecedor.nome" class="form-control" id="nome" aria-describedby="nomeHelp" />
    </div>
    <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="cnpj" [(ngModel)]="fornecedor.cnpj" class="form-control" id="cnpj" aria-describedby="cnpjHelp" />
    </div>
    <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="endereco" [(ngModel)]="fornecedor.endereco" class="form-control" id="endereco" aria-describedby="enderecoHelp" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="fornecedor.email" class="form-control" id="email" aria-describedby="emailHelp" />
    </div>

    <button type="submit" (click)="salvar()" class="btn btn-primary">
    Incluir
  </button>
</div>
